@charset "utf-8";
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
/* font-family: "Noto Serif KR", serif; */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
/* font-family: "Libre Baskerville", serif;
  font-weight: 700; */

body {
    font-family: "Noto Serif KR", serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
}

h2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.3;
}

#wrap {
    max-width: 1024px;
    margin: 0 auto;
}


/* --- 헤더 시작 --- */
.header {
    width: 100%;
    background-color: #177C8B;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

.header .inner button {
    width: 30px;
    padding: 0;
}

.header .inner button img {
    width: 100%;
}

.header .inner .header_nav {
    max-width: 944px;
    width: calc(100% - 25px);
    height: 60px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

/* 메뉴닫기 버튼 */
.header .inner .header_nav .close_btn {
    display: none;
}

.header .inner .header_nav .logo {
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header .inner .header_nav .logo a {
    height: 100%;
    display: block;
}

.header .inner .header_nav .logo a img {
    height: 100%;
}

.header .inner .header_nav .util {
    display: flex;
    gap: 10px;
}


/* --- 내비게이션 시작 --- */
.header .inner .nav {
    width: 100%;
    height: 100vh;
    background-color: #EBF1F4;
    padding: 20px 0;
    position: fixed;
    top: 60px;
    left: -100%;
    /* 내비 닫아둠 */
    transition: left 0.5s;
}

.header .inner .nav.active {
    left: 0;
}

.header .inner .nav .search_wrap {
    max-width: 944px;
    width: calc(100% - 25px);
    margin: 0 auto 30px;
    position: relative;
}

.header .inner .nav .search_wrap input {
    width: 100%;
    height: 35px;
    border: 0;
    background-color: #D8D8D8;
    border-radius: 5px;
    padding: 0 20px;
}

.header .inner .nav .search_wrap input:focus {
    outline: none;
    border: 1px solid #000;
}

.header .inner .nav .search_wrap img {
    width: 26px;
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.header .inner .nav .gnb {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px;
}

.header .inner .nav .gnb .depth-01 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-size: 26px;
    display: flex;
    gap: 5px;
    align-items: center;
}

.header .inner .nav .gnb>li a img {
    width: 20px;
    height: 20px;
    display: block;
}

.header .inner .nav .gnb>li a .up {
    display: none;
    /* up 숨김 */
}

.header .inner .nav .gnb>li.open a .up {
    display: inline-block;
    /* open - up 보임*/
}

.header .inner .nav .gnb>li.open a .down {
    display: none;
    /* open - down 숨김 */
}

.header .inner .nav .gnb>li .depth-02 {
    display: none;
    /* depth-02 숨김 */
}

.header .inner .nav .gnb>li.open .depth-02 {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 5px;
    padding-left: 15px;
    /* open - depth-02 열림 */
}
.header .inner .nav .gnb>li .depth-02 li a {
    font-size: 15px;
}


/* --- 메인 시작 --- */
.main_visual {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
}

.main_visual .MainSlide {
    height: 100%;
}

.main_visual .MainSlide .swiper-slide {
    width: 100%;
    height: 100%;
    position: relative;
}

.main_visual .MainSlide .swiper-slide .slide_image {
    width: 100%;
    height: 100%;
}

.main_visual .MainSlide .swiper-slide .slide_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main_visual .MainSlide .swiper-slide .text_wrap {
    color: #4D3531;
    position: absolute;
}

.main_visual .MainSlide .swiper-slide .text_wrap span {
    display: block;
    font-size: 14px;
    font-weight: 500;
}

.main_visual .MainSlide .swiper-slide .text_wrap strong {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 3px;
    display: block;
}

.main_visual .MainSlide .swiper-slide .text_wrap p {
    font-size: 14px;
    font-weight: 500;
}

.main_visual .MainSlide .swiper-slide.slide1 .text_wrap {
    top: 26px;
    left: 30px;
}

.main_visual .MainSlide .swiper-slide.slide2 .text_wrap {
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.main_visual .MainSlide .swiper-slide.slide2 .text_wrap p {
    font-weight: 700;
}

.main_visual .MainSlide .swiper-slide.slide3 .text_wrap {
    width: 100%;
    height: 100%;
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 0;
    left: 0;
}

.main_visual .MainSlide .swiper-slide.slide3 .text_wrap p {
    background-color: rgba(255, 247, 204, 0.7);
    padding: 8px 20px;
    font-size: 18px;
    font-weight: 600;
}

.main_visual .MainSlide .swiper-slide.slide3 .text_wrap p:last-child {
    text-align: right;
    margin-left: auto;
}

.main_visual .MainSlide .swiper-slide.slide4 .text_wrap {
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.main_visual .MainSlide .swiper-slide.slide5 .text_wrap {
    width: 100%;
    top: 60px;
    left: 0;
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.5);
}


/* --- sec-01 --- */
.sec-01 .inner {
    padding: 60px 0 100px;
    position: relative;
}

.sec-01 .inner .bg {
    width: 100%;
    opacity: 50%;
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 0;
}

.sec-01 .inner .content {
    width: 100%;
    text-align: center;
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    position: relative;
    top: 0;
    left: 0;
}

.sec-01 .inner .content img {
    width: 68%;
    margin-top: 15px;
}


/* --- sec-02 --- */
.sec-02 {
    background-color: #F3F399;
}

.sec-02 .inner {
    max-width: 944px;
    width: calc(100% - 25px);
    margin: 0 auto;
    padding: 60px 0 80px;
    text-align: center;
    color: #a73333;
}

.sec-02 .inner .title {
    position: relative;
    margin-bottom: 6px;
}

.sec-02 .inner .title h2 {}

.sec-02 .inner .title strong {
    font-size: 70px;
    margin-top: 5px;
}

.sec-02 .inner .title img {
    height: 70px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.sec-02 .inner .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 10px;
}

.sec-02 .inner .list .item {
    width: 29.33%;
}

.sec-02 .inner .list .item img {
    width: 100%;
    border: 1px solid #000;
}

.sec-02 .inner .list .item p {
    font-size: 14px;
    font-weight: 700;
    margin-top: 6px;
}


/* --- sec-03 --- */
.sec-03 .inner {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 60px 0;
}

.sec-03 .inner .banner {
    position: relative;
    max-width: 944px;
    width: calc(100% - 25px);
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.4);
    position: relative;
}

.sec-03 .inner .banner.b01::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.6) 45%, rgba(255, 255, 255, 0.9) 100%);
}

.sec-03 .inner .banner.b02::after {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #ffffff;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0) 32%, rgba(255, 255, 255, 0.9) 100%);
}

.sec-03 .inner .banner.b01 {
    background: url("../img/banner-colabo.png") center center / cover no-repeat;
}

.sec-03 .inner .banner.b02 {
    background: url("../img/banner_delivery.png") center 80% / cover no-repeat;
}

.sec-03 .inner .banner.b01 .text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 1;
}

.sec-03 .inner .banner.b02 .text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 1;
}

.sec-03 .inner .banner .text img {
    height: 30px;
    display: block;
}

.sec-03 .inner .banner .text strong {
    font-size: 18px;
    font-weight: 700;
}

.sec-03 .inner .banner .text p {
    font-weight: 500;
}


/* --- sec-04 --- */
.sec-04 {
    padding: 60px 0 90px;
}

.sec-04 .inner .title {
    position: relative;
    margin-bottom: 25px;
}

.sec-04 .inner .title img {
    width: 288px;
    margin: 0 auto;
    display: block;
}

.sec-04 .inner .title .text {
    color: #4D3531;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec-04 .inner .title .text p {
    font-size: 17px;
    font-weight: 500;
}

/* 레시피 슬라이드 */
.RecipeSlide {
    padding: 50px 0;
}

.RecipeSlide .swiper-wrapper {}

.RecipeSlide .swiper-wrapper .swiper-slide {
    max-width: 400px;
    width: 60%;
    height: 366px;
    border-radius: 10px;
    background-color: #F3F399;
    color: #4D3531;
    box-shadow: 0 0 15px rgba(77, 53, 49, 0.5);
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner {
    padding: 18px;
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner>img {
    width: 100%;
    height: 240px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
    border: 1px solid #4D3531;
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner .text_wrap {
    margin-top: 12px;
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner .text_wrap p {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-bottom: 7px;
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner .text_wrap .name {
    display: flex;
    align-items: center;
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner .text_wrap .name strong {
    font-size: 18px;
    font-weight: 600;
    color: #a73333;
}

.RecipeSlide .swiper-wrapper .swiper-slide .inner .text_wrap .name img {
    width: 20px;
    display: block;
}

.RecipeSlide .swiper-slide.swiper-slide-active {
    transform: scale(1.2);
    z-index: 1;
}


/* --- sec-05 --- */
.sec-05 {
    background-color: #177C8B;
    padding: 40px 0;
}

.sec-05 .inner .title {
    text-align: center;
    color: #FFF7CC;
    margin-bottom: 35px;
}

.sec-05 .inner .title p {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
}

.sec-05 .inner .InstaSlide .swiper-wrapper .swiper-slide {
    width: 110px;
    height: 110px;
}

.sec-05 .inner .InstaSlide .swiper-wrapper .swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.sec-05 .inner .insta_btn {
    width: 100%;
    margin: 35px auto 0;
}

.sec-05 .inner .insta_btn a {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    border: 1px solid #FFF7CC;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.sec-05 .inner .insta_btn a img {
    width: 20px;
    height: 20px;
    display: block;
}

.sec-05 .inner .insta_btn a p {
    color: #FFF7CC;
}

.character {
    max-width: 500px;
    width: 60%;
    margin: 0 auto;
    padding: 50px 0 0;
}

.character img {
    width: 100%;
}


/* --- bottom_nav --- */
.bottom_nav {
    position: fixed;
    bottom: 50px;
    right: 8px;
    z-index: 10;
}

.bottom_nav .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.bottom_nav .inner .ask_btn {
    width: 80px;
}

.bottom_nav .inner .ask_btn a {
    width: 100%;
}

.bottom_nav .inner .ask_btn a img {
    width: 100%;
    display: block;
}

.bottom_nav .inner .top_btn {
    width: 30px;
    height: 30px;
    background-color: #4D3531;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom_nav .inner .top_btn img {
    width: 24px;
    height: 24px;
}


/* ---- 푸터 ---- */
.footer {
    background-color: #614A44;
    color: #EBF1F4;
    padding: 30px 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 130%;
}

.footer .inner {
    max-width: 944px;
    width: calc(100% - 25px);
    margin: 0 auto;
}


.footer .inner .footer_nav>ul {
    font-size: 14px;
    font-weight: 500;
    display: flex;
    gap: 25px;
}

.footer .inner .text_wrap {
    padding: 25px 0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer .inner .text_wrap p {
    font-weight: 500;
    margin-bottom: 6px;
}

.footer .inner .text_wrap ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.footer .inner .text_wrap ul li {
    letter-spacing: -0.24px;
}

.footer .inner>span {
    width: 100%;
    padding-top: 15px;
    border-top: 1px solid #EBF1F4;
    display: block;
}