@charset "utf-8";
@import url('reset.css');
@import url('common.css');

.category {
    position: relative;
    background-color: #FFF7CC;
    z-index: 11;
    overflow: hidden;
}

/* 1차 메뉴 */
.category .cat-gnb.depth-01 {
    display: flex;
    margin: 60px 0 0 7.5px;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.category .cat-gnb.depth-01>li {
    flex: 0 0 auto;
    font-size: 18px;
    font-weight: 700;
    scroll-snap-align: start;
}

.category .cat-gnb.depth-01>li>a {
    display: block;
    padding: 20px 15px;
    color: #000;
    text-decoration: none;
    transition: color 0.3s;
}

/* 2차 메뉴 */
.category .cat-gnb.depth-02 {
    display: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    padding: 10px 7.5px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    background-color: #ffffff;
}

.category .cat-gnb.depth-02 li {
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.category .cat-gnb.depth-02 li a {
    display: inline-block;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 400;
    padding: 0 15px;
    height: 40px;
    border: 1px solid #000;
    border-radius: 50px;
    background-color: #EBF1F4;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    color: #000;
    transition: all 0.1s ease;
}

/* 1차 메뉴 활성 상태 */
.category .cat-gnb.depth-01 a.active {
    color: #A73333;
    border-bottom: 3px solid #000;
}

/* 2차 메뉴 활성 상태 */
.category .cat-gnb.depth-02 li a.active {
    background-color: #F3F399;
    font-weight: 700;
}


/* 섹션 */
.section {
    max-width: 944px;
    width: calc(100% - 25px);
    margin: 0 auto 60px;
}

.section .title {
    width: 350px;
    margin: 30px auto;
    position: relative;
}

.section .title img {
    width: 100%;

}

.section .title .title_text {
    display: flex;
    flex-direction: column;
    gap: 3px;
    position: absolute;
    padding-bottom: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
    z-index: 1;
}

.section .title .title_text p {
    font-weight: 500;
}

/* 리스트 시작 */
.section .list_wrap {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
    padding-bottom: 80px;
}

.section .list_wrap .order {
    display: flex;
    justify-content: space-between;
}

.section .list_wrap .order span {
    font-size: 14px;
}

.section .list_wrap .order select {
    font-size: 14px;
    border: transparent;
    font-family: "Noto Serif KR", serif;
    border: transparent;
}

.section .list_wrap .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 36px;
}

.section .list_wrap .list .item {
    width: 48.57%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.section .list_wrap .list .item .image {
    width: 100%;
    border: 1px solid #000;
    position: relative;
    padding-bottom: 100%;
}

.section .list_wrap .list .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.section .list_wrap .list .item .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.section .list_wrap .list .item .text p {}

.section .list_wrap .list .item .text .info {
    display: flex;
    justify-content: space-between;
}

.section .list_wrap .list .item .text .info .heart {
    width: 22px;
    height: 22px;
    transition: opacity 0.3s ease;
}

.section .list_wrap .list .item .text .info .heart img {
    display: block;
    width: 100%;
    height: 100%;
}

.section .list_wrap .list .item .text .info .heart.fill {
    content: url('../img/icon-heartfill.png');
    opacity: 1;
}

/* 솔드아웃 스타일 */
.section .list_wrap .list .item:last-child {
    color: #5E5E5E;
}

.section .list_wrap .list .item span {
    width: 83px;
    height: 29px;
    background-color: #A73333;
    color: #EBF1F4;
    line-height: 29px;
    text-align: center;
}

.section .list_wrap .page {
    display: flex;
    gap: 30px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}